* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: auto;
  background: gainsboro;
  scroll-behavior: smooth;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
#input-field {
  font-size: 20px;
}
#root {
  padding-top: 20px;
}
.ui .button {
  font-size: 20px;
}
#img-container {
  width: 100vw;
}
#img-bottom {
  font-size: 16px;
}
#top-button {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 15px;
  right: 15px;
  background: rgba(91, 182, 252, 0.8);
  cursor: pointer;
  z-index: 1000;
  border: 0;
  border-radius: 50%;
}
#top-button a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#scrolltop-icon {
  margin: 0;
  padding: 0;
}
#search-button {
  background: #4dabf5;
  color: white;
}
